<%- include("../layout/header", { title: title }) %>

<div class="container my-5">
  <a href="/admin/dashboard" class="btn btn-secondary mb-3">← Back</a>

  <%- include("../layout/messages") %>

  <div class="card p-4 shadow-sm">
    <h4>Edit Project</h4>
    <form action="/admin/edit/<%= project._id %>" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label>Title</label>
        <input name="title" required class="form-control" value="<%= project.title %>">
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea name="description" required class="form-control" rows="4"><%= project.description %></textarea>
      </div>
      <div class="mb-3">
        <label>Tech (comma separated)</label>
        <input name="tech" class="form-control" value="<%= project.tech.join(', ') %>">
      </div>
      <div class="mb-3">
        <label>GitHub Link</label>
        <input name="github" type="url" class="form-control" value="<%= project.github %>">
      </div>
      <div class="mb-3">
        <label>Demo Link</label>
        <input name="demo" type="url" class="form-control" value="<%= project.demo %>">
      </div>

      <div class="mb-3">
        <label>Current Image</label><br>
        <img src="<%= project.image %>" width="140" class="mb-2"><br>
        <input name="image" type="file" accept="image/*" class="form-control">
      </div>

      <button class="btn btn-success">Update Project</button>
    </form>
  </div>
</div>


<%- include("../layout/footer") %>
